* {

    position: relative;
}

body {

    background: linear-gradient(to bottom, #FEC5C5, #FF7D7D);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}


#container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    height: 60%;
    width: 500px;
    overflow: auto;
    margin-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 5px 10px -5.3px rgb(120, 120, 120);
    animation: fadeIn 0.7s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes fadeIn {

    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        transform: translateY(25%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


@keyframes contentVisible {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.completed {

    text-decoration: line-through;
    vertical-align: middle;
    color: grey;
    font-size: 23px;
}

h1 {

    margin-top: 15px;
    margin-bottom: 12px;
    color: black;
    font-size: 50px;
    opacity: 0;
    animation: contentVisible 0.5s ease forwards 0.72s;
}

#completedTasks {

    margin-top: 12px;
    margin-bottom: 25px;
    font-weight: 500;
    font-family: Arial, sans-serif;
    opacity: 0;
    animation: contentVisible 0.5s ease forwards 0.74s;
}

#info {

    margin: 0;
    margin-top: 7px;
    font-style: italic;
    font-family: Arial, sans-serif;
    color: rgb(200, 0, 0);
    font-weight: bold;
}

.infoBlink {

    animation: blinkingInfo 0.6s ease 2;
}

@keyframes blinkingInfo {

    50% {
        opacity: 0;
    }
}

input {

    background-color: white;
    border-radius: 3px;
    border: 0.2px solid black;
    height: 25px;
    width: 188px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-left: 5px;
    margin: 0;
    opacity: 0;
    animation: contentVisible 0.5s ease forwards 0.76s;
}

input:focus {

    outline-color: rgb(13, 84, 178);
}


#btn {

    background-color: rgb(237, 237, 237);
    color: black;
    border-radius: 3px;
    border: 0.2px solid black;
    height: 29px;
    width: 44px;
    font-size: 16.5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    margin-left: 0.5px;
    opacity: 0;
    animation: contentVisible 0.5s ease forwards 0.76s;
}

#btn:hover {

    background-color: rgb(230, 230, 230);
}

ul {

    list-style-type: none;
    padding-left: 0;
    margin-top: 14px;
}

li {

    padding: 5px;
    font-family: Arial, sans-serif;
    animation: listSlide 0.4s;
    color: black;
    transition: color 0.2s ease;
}

@keyframes listSlide {

    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

span {

    cursor: pointer;
    font-size: 23px;
    font-weight: 500;
}

.deleteButton {

    margin-left: 10.5px;
    margin-right: 10px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}