* {

    position: relative;
}

body {

    background: linear-gradient(to bottom, #FEC5C5, #FF7D7D);
    margin: 0;
    min-height: 96.4vh;
    display: flex;
    justify-content: center;

}

#container {

    top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    height: 60%;
    width: 500px;
    overflow: auto;
    margin-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 5px 10px -5.3px rgb(120, 120, 120);
    animation: fadeIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes fadeIn {
    0% {
        top: -50vh;
        opacity: 0;
    }

    50% {
        top: 7vh;
    }

    100% {
        opacity: 1;
        top: 1vh;
    }
}


@keyframes contentVisible {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.completed {

    text-decoration: line-through;
    color: grey;
}

h1 {

    margin-top: 20px;
    margin-bottom: 12px;
    color: black;
    font-size: 50px;
    opacity: 0;
    animation: contentVisible 0.5s ease forwards 0.95s;

}

#completedTasks {

    margin-top: 12px;
    margin-bottom: 25px;
    font-weight: 500;
    font-family: Arial, sans-serif;
    opacity: 0;
    animation: contentVisible 0.5s ease forwards 1s;
}

#info {

    margin: 0;
    margin-top: 7px;
    font-style: italic;
    font-family: Arial, sans-serif;
}

input {

    background-color: white;
    border-radius: 3px;
    border: 0.2px solid black;
    height: 25px;
    width: 188px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-left: 5px;
    margin: 0;
    opacity: 0;
    animation: contentVisible 0.5s ease forwards 1.1s;
}

input:focus {

    outline-color: rgb(13, 84, 178);

}


#btn {

    background-color: rgb(237, 237, 237);
    color: black;
    border-radius: 3px;
    border: 0.2px solid black;
    height: 29px;
    width: 40px;
    font-size: 14.8px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    margin-left: 0.5px;
    opacity: 0;
    animation: contentVisible 0.5s ease forwards 1.1s;

}

#btn:hover {
    background-color: rgb(230, 230, 230);
    /* Corrected background color */
}

ul {

    list-style-type: none;
    padding-left: 0;
    margin-top: 14px;
}

li {

    padding: 5px;
    font-family: Arial, sans-serif;

}

.deleteButton {

    margin-left: 10.5px;
    margin-right: 10px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}